.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.main-btn, .top-thirty-btn, .sign-up-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.main-btn {
  background-color: #3498db;
  color: #fff;
}

.top-thirty-btn {
  background-color: #27ae60;
  color: #fff;
}

.sign-up-btn {
  background-color: #e74c3c;
  color: #fff;
}

/* Line.css */
.line {
  width: 30%; /* 가로 길이 조절 */
  height: 2px; /* 선의 두께 조절 */
  background-color: #F6D86A; /* 선의 색상 설정 */
}
